# Build files
/Debug/
/Release/
/build/

*/Debug/
*/Release/
*/build/

.settings/
*/.settings/

*/Drivers
*/Middlewares


# STM32CubeIDE project metadata
*.launch
*.settings/
*.project
*.cproject
*.log

# OS-specific
.DS_Store
Thumbs.db

# Backup files
*~
*.swp

# Optional
*.elf
*.hex
*.bin